:root{
    --card-width:500px;
}

*{
    box-sizing: border-box;
}

body{
    background: gray;
    color:white;
    font-family: Arial, Helvetica, sans-serif
}
.white-container{
    background: white; 
    width:calc(var(--card-width) * 1);
    height: calc(var(--card-width) * 0.5);
    padding:5px;    
}




.vertical-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  

    background: rgb(55,171,190);
    background: linear-gradient(90deg, rgba(55,171,190,1) 0%, rgba(7,207,194,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 8px; 
    /* border: 1px solid black;  */

    overflow: hidden;
    padding:15px;   
    height: 100%;
    width: 100%;    
    position: relative;        
}

.item{
    /* border: 1px solid black; */
    padding-left:15px;    
}

.first{
    display: flex;
    flex-direction: row;

}

.flag{
    /* height: 20%; */
    /* border: 1px solid red; */
    padding:0 20px;
    margin-left:auto;
}




.vertical-container .item:nth-child(2){
   font-size: 3em; 
   
}

.vertical-container::before{
    content:"";
    background-color: white;
    opacity: 50%;
    height: calc(var(--card-width) * 0.45);
    width: calc(var(--card-width) * 0.45);
    top:40%;
    left:60%;    
    border-radius: 50%;
    position: absolute;  
}
 
.vertical-container::after{
    content:"";
    background-color: white;
    opacity: 50%;
    height: calc(var(--card-width) * 0.45);
    width: calc(var(--card-width) * 0.45);
    border-radius: 50%;
    top:-30%;
    left:70%;
    position: absolute;  
} 